body {
    background: #F2EED8 url(../img/bg-texture.png);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #475556;
    position: relative;
}

.container {
    width: 1004px;
    padding: 0 10px;
    margin: 0 auto;
/*    outline: 1px solid grey;*/
    position: relative;
    z-index: 10;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    margin: 0;
}

h2 {
    font-size: 24px;
    line-height: 38px;
}

h3 {
    font-size: 22px;
    font-style: italic;
    line-height: 38px
}



/* ===================== HEADER ========================= */


.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: auto;
    right: auto;
    background: #F2EED8 url(../img/bg-texture.png);
    z-index: 1000;
    box-shadow: 1px 19px 48px -38px #000000;
}

.title {
    float: left;
    margin-top: 25px;
    padding-bottom: 15px;
}

.title h1 {
/*    text-transform: uppercase;*/
}

.title p {
    font-family: Arial, sans-serif;
    font-size: 14.5px;
    margin: 0 1px;
}

.main-nav {
/*    position: fixed;*/
    left: 770px;
    float: right;
    font-weight: 400;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 16.5px;
    background: #F2EED8 url(../img/bg-texture.png);
}

.main-nav a {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    color: #475556;
    padding: 47px 12px 10px;
    margin-right: 8px;
    
}

.main-nav a:last-child {
    margin-right: 0px;
    padding-right: 1px;
}

.main-nav .check {
    background-color: #475556;
    color: #fff;
}

.main-nav a:hover {
    color: #666;
    text-shadow: 0 0 3px;
}



/* ===================== PORTFOLIO ========================= */


.portfolio {
    padding-bottom: 50px;
}

.portfolio h3 {
    margin-left: 42px;
    padding-top: 130px;
}

.gallery {
    margin-top: 32px;
    margin-left: 35px;
}

.pic {
    display: inline-block;
    vertical-align: top;
    width: 208px;
    height: 205px;
    margin-right: 30px;
    margin-bottom: 31px;
}

.pic:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.pic:nth-child(4n) {
    margin-right: 0;
}



/* ===================== SKILLS ========================= */


.skills {
    background-color: #7F9C98;
    padding-bottom: 150px;
}

.skills-container {
    margin: 0 auto;
}

.skills h3 {
    margin-left: 42px;
    padding-top: 30px;
}

.skills-list-1,
.skills-list-2,
.skills-list-3 {
    float: left;
    list-style: none;
    padding: 0;
    font-size: 18.5px;
    line-height: 20px;
    width: 260px;
/*    margin-left: 35px;*/
/*    margin-right: 35px;*/
    padding-left: 35px;
    padding-right: 35px;
}

.skills-list-1 li,
.skills-list-2 li,
.skills-list-3 li {
    margin-bottom: 15px;
    position: relative;
    width: 270px;
}

.skills-list-1 span,
.skills-list-2 span,
.skills-list-3 span {
    display: inline-block;
    width: 200px;
    height: 15px;
    background-color: #F2EED8;
    position: absolute;
    top: 2px;
    left: 65px;
    z-index: 10;
/*    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;*/
    border-radius: 5px;
}

.skills-list-1 span::after,
.skills-list-2 span::after,
.skills-list-3 span::after {
    width: 100%;
    content: "";
    height: 15px;
    position: absolute;
    background-color: #F2EED8;
    top: 0px;
    left: 0px; 
    z-index: 20;
    transition: 0.5s;
/*    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;*/
    border-radius: 3px;
}

.skill-1 span::before,
.skill-2 span::before,
.skill-3 span::before,
.skill-4 span::before,
.skill-5 span::before {
    content: "";
    position: absolute;
    background-color: #475556;
    top: 0;
    left: 0;
    height: 15px; 
    z-index: 40;
    opacity: 1;
    transform-origin: 100% 0% ; 
/*    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;*/
    border-radius: 3px;
}





.skill-10 span::before {
    width: 10%;
    animation: loader10 5s ease-in-out infinite;
}

@-webkit-keyframes loader10 { 
    0%{width: 0px;}
    70%{width: 10%; opacity: 1;}
    90%{opacity: 0; width: 10%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader10 {
    0%{width: 0px;}
    70%{width: 10%; opacity: 1;}
    90%{opacity: 0; width: 10%;}
    100%{opacity: 0; width: 0px;}
}

.skill-20 span::before {
    width: 20%;
    animation: loader20 5s ease-in-out infinite;
}

@-webkit-keyframes loader20 {
    0%{width: 0px;}
    70%{width: 20%; opacity: 1;}
    90%{opacity: 0; width: 20%;}
    100%{opacity: 0;width: 0px;}
}

@keyframes loader20 {
    0%{width: 0px;}
    70%{width: 20%; opacity: 1;}
    90%{opacity: 0; width: 20%;}
    100%{opacity: 0; width: 0px;}
}

.skill-30 span::before  {
    width: 30%;
    animation: loader30 5s ease-in-out infinite;
}

@-webkit-keyframes loader30 {
    0%{width: 0px;}
    70%{width: 30%; opacity: 1;}
    90%{opacity: 0; width: 30%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader30{
    0%{width: 0px;}
    70%{width: 30%; opacity: 1;}
    90%{opacity: 0; width: 30%;}
    100%{opacity: 0; width: 0px;}
}

.skill-40 span::before {
    width: 40%;
    animation: loader40 5s ease-in-out infinite;
}

@-webkit-keyframes loader40 {
    0%{width: 0px;}
    70%{width: 40%; opacity: 1;}
    90%{opacity: 0; width: 40%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader40 {
    0%{width: 0px;}
    70%{width: 40%; opacity: 1;}
    90%{opacity: 0; width: 40%;}
    100%{opacity: 0; width: 0px;}
}

.skill-50 span::before  {
    width: 50%;
    animation: loader50 5s ease-in-out infinite;
}

@-webkit-keyframes loader50 {
    0%{width: 0px;}
    70%{width: 50%; opacity: 1;}
    90%{opacity: 0; width: 50%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader50 {
    0%{width: 0px;}
    70%{width: 50%; opacity: 1;}
    90%{opacity: 0; width: 50%;}
    100%{opacity: 0; width: 0px;}
}

.skill-60 span::before  {
    width: 60%;
    animation: loader60 5s ease-in-out infinite;
}

@-webkit-keyframes loader60 {
    0%{width: 0px;}
    70%{width: 60%; opacity: 1;}
    90%{opacity: 0; width: 60%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader60 {
    0%{width: 0px;}
    70%{width: 60%; opacity: 1;}
    90%{opacity: 0; width: 60%;}
    100%{opacity: 0; width: 0px;}
}

.skill-70 span::before  {
    width: 70%;
    animation: loader70 5s ease-in-out infinite;
}

@-webkit-keyframes loader70 {
    0%{width: 0px;}
    70%{width: 70%; opacity: 1;}
    90%{opacity: 0; width: 70%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader70 {
    0%{width: 0px;}
    70%{width: 70%; opacity: 1;}
    90%{opacity: 0; width: 70%;}
    100%{opacity: 0; width: 0px;}
}

.skill-80 span::before  {
    width: 80%;
    animation: loader80 5s ease-in-out infinite;
}

@-webkit-keyframes loader80 {
    0%{width: 0px;}
    70%{width: 80%; opacity: 1;}
    90%{opacity: 0; width: 80%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader80 {
    0%{width: 0px;}
    70%{width: 80%; opacity: 1;}
    90%{opacity: 0; width: 80%;}
    100%{opacity: 0; width: 0px;}
}

.skill-90 span::before  {
    width: 90%;
    animation: loader90 5s ease-in-out infinite;
}

@-webkit-keyframes loader90 {
    0%{width: 0px;}
    70%{width: 90%; opacity: 1;}
    90%{opacity: 0; width: 90%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader90 {
    0%{width: 0px;}
    70%{width: 90%; opacity: 1;}
    90%{opacity: 0; width: 90%;}
    100%{opacity: 0; width: 0px;}
}

.skill-100 span::before  {
    width: 100%;
    animation: loader100 5s ease-in-out infinite;
}

@-webkit-keyframes loader100 {
    0%{width: 0px;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0; width: 0px;}
}

@keyframes loader100 {
    0%{width: 0px;}
    70%{width: 100%; opacity: 1;}
    90%{opacity: 0; width: 100%;}
    100%{opacity: 0; width: 0px;}
}



/* ===================== BIO / INFO ========================= */


.bio {
    background-color: #568A7E;
    color: #fff;
    min-width: 1024px;
}

.info {
    float: left;
    width: 630px;
    padding-bottom: 25px;
    position: relative;
}

.info::before {
    content: "";
    width: 123px;
    height: 123px;
    position: absolute;
    background: #ccc url("../pict/.png");
    top: -57px;
    left: 33px;
    border: 7px solid #475556;
    
}

.info h2 {
    margin: 0px;
    padding-left: 200px;
    padding-top: 13px;
    font-style: italic;
}

.location {
    margin: 0;
    padding-left: 220px;
    padding-top: 2px;
}

.text-info {
    margin-top: 33px;
    margin-left: 30px;
    font-size: 12.5px;
    line-height: 20px
}



/* ===================== FOOTER ========================= */


footer {
    min-height: 39px;
    min-width: 1024px;
    background-color: #475556;
}

footer .copy {
    margin: 0;
    color: #fff;
    text-align: right;
    padding-right: 173px;
    padding-top: 10px; 
    padding-bottom: 10px;
}


